<div *ngFor="let item of arr">
  <div>
    <label for="checkBox" *ngIf="!item.parentId; else children">
      <input
        id="checkBox"
        type="checkbox"
        class="form-check-input"
        [checked]="checkedValue(item)"
        [indeterminate]="isFlag"
        (change)="updateCheckedValue(item)"/>
        {{item.name}}({{item.id}})
    </label>
    <ng-template #children>
      <label for="checkBox2">
        <input
          id="checkBox2"
          type="checkbox"
          class="form-check-input"
          [checked]="checkedValue(item)"
          (change)="updateCheckedValue(item)"/>
          {{item.name}}({{item.id}})
      </label>
    </ng-template>
  </div>
  <div style="margin-left: 20px" *ngIf="item?.children">
    <app-tree-view
      (onChanged)="emitUp($event)"
      [arr]="item.children">
    </app-tree-view>
  </div>

</div>
